
:root {
    --brand-gold: #99851f;
    --brand-red: var(--brand-gold);
    --brand-black: #1a332d;
    --brand-ice: #f0f0f3;
    --brand-light: #f9f9fa;
    --brand-white: #fff;
    --t-black-90: rgba(26, 51, 45, 0.9);
    --t-black-80: rgba(26, 51, 45, 0.8);
    --t-black-70: rgba(26, 51, 45, 0.7);
    --t-black-60: rgba(26, 51, 45, 0.6);
    --t-black-50: rgba(26, 51, 45, 0.5);
    --t-black-40: rgba(26, 51, 45, 0.4);
    --t-black-30: rgba(26, 51, 45, 0.3);
    --t-black-20: rgba(26, 51, 45, 0.2);
    --t-black-10: rgba(26, 51, 45, 0.1);
    --t-black-5: rgba(26, 51, 45, 0.05);
    --t-white-90: rgba(255, 255, 255, 0.9);
    --t-white-80: rgba(255, 255, 255, 0.8);
    --t-white-70: rgba(255, 255, 255, 0.7);
    --t-white-60: rgba(255, 255, 255, 0.6);
    --t-white-50: rgba(255, 255, 255, 0.5);
    --t-white-40: rgba(255, 255, 255, 0.4);
    --t-white-30: rgba(255, 255, 255, 0.3);
    --t-white-20: rgba(255, 255, 255, 0.2);
    --t-white-10: rgba(255, 255, 255, 0.1);
    --t-white-5: rgba(255, 255, 255, 0.05);
    --t-gold-90: rgba(153, 133, 31, 0.9);
    --t-gold-80: rgba(153, 133, 31, 0.8);
    --t-gold-70: rgba(153, 133, 31, 0.7);
    --t-gold-60: rgba(153, 133, 31, 0.6);
    --t-gold-50: rgba(153, 133, 31, 0.5);
    --t-gold-40: rgba(153, 133, 31, 0.4);
    --t-gold-30: rgba(153, 133, 31, 0.3);
    --t-gold-20: rgba(153, 133, 31, 0.2);
    --t-gold-10: rgba(153, 133, 31, 0.1);
    --t-gold-5: rgba(153, 133, 31, 0.05);
    --halftones-brown-1: #795f46;
    --halftones-brown-2: #a08a74;
    --halftones-brown-3: #e5ddd5;
    --halftones-brown-4: #f3efeb;
    --halftones-olive-1: #797946;
    --halftones-olive-2: #a0a074;
    --halftones-olive-3: #e5e5d5;
    --halftones-olive-4: #f3f3eb;
    --halftones-green-1: #46795f;
    --halftones-green-2: #74a08a;
    --halftones-green-3: #d5e5dd;
    --halftones-green-4: #ebf3ef;
    --halftones-sky-1: #465f79;
    --halftones-sky-2: #748aa0;
    --halftones-sky-3: #d5dde5;
    --halftones-sky-4: #ebeff3;
    --halftones-indigo-1: #464679;
    --halftones-indigo-2: #7474a0;
    --halftones-indigo-3: #d5d5e5;
    --halftones-indigo-4: #ebebf3;
    --halftones-purple-1: #5f4679;
    --halftones-purple-2: #8a74a0;
    --halftones-purple-3: #ddd5e5;
    --halftones-purple-4: #efebf3;
    --halftones-rose-1: #79465f;
    --halftones-rose-2: #a0748a;
    --halftones-rose-3: #e5d5dd;
    --halftones-rose-4: #f3ebef;
    --state-press: #ab000e;
    --state-error: #d94800;
    --state-warning: #e58600;
    --state-success: #75992e;
}
