.favorite-add {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4248 9.121C22.334 8.84104 22.1628 8.594 21.9326 8.41063C21.7024 8.22726 21.4233 8.11566 21.1301 8.08975L15.5623 7.60974L13.3798 2.41974C13.2662 2.14742 13.0745 1.9148 12.829 1.75117C12.5834 1.58755 12.2949 1.50024 11.9998 1.50024C11.7047 1.50024 11.4163 1.58755 11.1707 1.75117C10.9251 1.9148 10.7335 2.14742 10.6198 2.41974L8.44389 7.60974L2.86951 8.09256C2.57517 8.11729 2.29468 8.22838 2.06322 8.41188C1.83176 8.59539 1.65964 8.84315 1.56842 9.1241C1.47721 9.40504 1.47098 9.70666 1.5505 9.99113C1.63003 10.2756 1.79177 10.5303 2.01545 10.7232L6.24451 14.4188L4.97701 19.9069C4.90999 20.1941 4.92911 20.4947 5.032 20.7711C5.13488 21.0475 5.31695 21.2874 5.55545 21.4609C5.79394 21.6344 6.07829 21.7337 6.37293 21.7464C6.66756 21.7592 6.95942 21.6848 7.21201 21.5326L11.9933 18.6263L16.7848 21.5326C17.0374 21.6848 17.3293 21.7592 17.6239 21.7464C17.9186 21.7337 18.2029 21.6344 18.4414 21.4609C18.6799 21.2874 18.862 21.0475 18.9648 20.7711C19.0677 20.4947 19.0868 20.1941 19.0198 19.9069L17.7533 14.4132L21.9814 10.7232C22.205 10.5296 22.3665 10.2742 22.4454 9.98914C22.5243 9.70406 22.5171 9.40202 22.4248 9.121ZM20.998 9.58974L16.7698 13.2797C16.564 13.4587 16.411 13.6905 16.327 13.95C16.2431 14.2095 16.2316 14.487 16.2936 14.7526L17.5639 20.2501L12.7761 17.3438C12.5425 17.2016 12.2743 17.1263 12.0008 17.1263C11.7273 17.1263 11.459 17.2016 11.2255 17.3438L6.4442 20.2501L7.70608 14.7563C7.76809 14.4907 7.75652 14.2132 7.6726 13.9537C7.58869 13.6942 7.43561 13.4625 7.22983 13.2835L2.99983 9.59537C2.99948 9.59257 2.99948 9.58974 2.99983 9.58693L8.57233 9.10506C8.84439 9.08108 9.10474 8.98327 9.3253 8.82219C9.54586 8.6611 9.71826 8.44286 9.82389 8.191L11.9998 3.00756L14.1748 8.191C14.2805 8.44286 14.4529 8.6611 14.6734 8.82219C14.894 8.98327 15.1543 9.08108 15.4264 9.10506L20.9998 9.58693C20.9998 9.58693 20.9998 9.59256 20.9998 9.59349L20.998 9.58974Z' fill='%231A332D' fill-opacity='0.8' /%3E%3C/svg%3E") 50% no-repeat;
    transition: all .3s;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;

    &.add {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4248 9.121C22.334 8.84104 22.1628 8.594 21.9326 8.41063C21.7024 8.22726 21.4233 8.11566 21.1301 8.08975L15.5623 7.60974L13.3798 2.41974C13.2662 2.14742 13.0745 1.9148 12.829 1.75117C12.5834 1.58755 12.2949 1.50024 11.9998 1.50024C11.7047 1.50024 11.4163 1.58755 11.1707 1.75117C10.9251 1.9148 10.7335 2.14742 10.6198 2.41974L8.44389 7.60974L2.86951 8.09256C2.57517 8.11729 2.29468 8.22838 2.06322 8.41188C1.83176 8.59539 1.65964 8.84315 1.56842 9.1241C1.47721 9.40504 1.47098 9.70666 1.5505 9.99113C1.63003 10.2756 1.79177 10.5303 2.01545 10.7232L6.24451 14.4188L4.97701 19.9069C4.90999 20.1941 4.92911 20.4947 5.032 20.7711C5.13488 21.0475 5.31695 21.2874 5.55545 21.4609C5.79394 21.6344 6.07829 21.7337 6.37293 21.7464C6.66756 21.7592 6.95942 21.6848 7.21201 21.5326L11.9933 18.6263L16.7848 21.5326C17.0374 21.6848 17.3293 21.7592 17.6239 21.7464C17.9186 21.7337 18.2029 21.6344 18.4414 21.4609C18.6799 21.2874 18.862 21.0475 18.9648 20.7711C19.0677 20.4947 19.0868 20.1941 19.0198 19.9069L17.7533 14.4132L21.9814 10.7232C22.205 10.5296 22.3665 10.2742 22.4454 9.98914C22.5243 9.70406 22.5171 9.40202 22.4248 9.121ZM20.998 9.58974L16.7698 13.2797C16.564 13.4587 16.411 13.6905 16.327 13.95C16.2431 14.2095 16.2316 14.487 16.2936 14.7526L17.5639 20.2501L12.7761 17.3438C12.5425 17.2016 12.2743 17.1263 12.0008 17.1263C11.7273 17.1263 11.459 17.2016 11.2255 17.3438L6.4442 20.2501L7.70608 14.7563C7.76809 14.4907 7.75652 14.2132 7.6726 13.9537C7.58869 13.6942 7.43561 13.4625 7.22983 13.2835L2.99983 9.59537C2.99948 9.59257 2.99948 9.58974 2.99983 9.58693L8.57233 9.10506C8.84439 9.08108 9.10474 8.98327 9.3253 8.82219C9.54586 8.6611 9.71826 8.44286 9.82389 8.191L11.9998 3.00756L14.1748 8.191C14.2805 8.44286 14.4529 8.6611 14.6734 8.82219C14.894 8.98327 15.1543 9.08108 15.4264 9.10506L20.9998 9.58693C20.9998 9.58693 20.9998 9.59256 20.9998 9.59349L20.998 9.58974Z' fill='%2399851F' fill-opacity='1' /%3E%3C/svg%3E") 50% no-repeat;
    }
}

.label {
    position: absolute;
    top: -8px;
    left: -8px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;

    > div {
        padding: 8px 11px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        gap: 4px;
        border: 1px solid transparent;

        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

    .new {
        border-color: var(--halftones-green-1);
        color: var(--halftones-green-1);
    }

    .hit {
        border-color: var(--halftones-brown-1);
        color: var(--halftones-brown-1);

        i {
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9688 3.75563C10.8632 3.63596 10.7333 3.54014 10.5878 3.47452C10.4424 3.40889 10.2846 3.37497 10.125 3.375H7.5V2.625C7.5 2.12772 7.30246 1.65081 6.95083 1.29917C6.59919 0.947544 6.12228 0.75 5.625 0.75C5.55533 0.74995 5.48703 0.769308 5.42775 0.805904C5.36847 0.842499 5.32055 0.894885 5.28937 0.957188L3.51844 4.5H1.5C1.30109 4.5 1.11032 4.57902 0.96967 4.71967C0.829018 4.86032 0.75 5.05109 0.75 5.25V9.375C0.75 9.57391 0.829018 9.76468 0.96967 9.90533C1.11032 10.046 1.30109 10.125 1.5 10.125H9.5625C9.83658 10.1251 10.1013 10.0251 10.3069 9.84388C10.5125 9.66263 10.6448 9.41256 10.6791 9.14062L11.2416 4.64062C11.2615 4.4822 11.2475 4.32134 11.2004 4.16875C11.1534 4.01616 11.0744 3.87533 10.9688 3.75563ZM1.5 5.25H3.375V9.375H1.5V5.25ZM10.4972 4.54688L9.93469 9.04688C9.92327 9.13752 9.87915 9.22088 9.81062 9.28129C9.74209 9.34171 9.65386 9.37503 9.5625 9.375H4.125V4.96359L5.84578 1.52156C6.10082 1.57261 6.3303 1.71045 6.49516 1.91163C6.66002 2.11281 6.75007 2.3649 6.75 2.625V3.75C6.75 3.84946 6.78951 3.94484 6.85983 4.01516C6.93016 4.08549 7.02554 4.125 7.125 4.125H10.125C10.1782 4.12498 10.2308 4.13629 10.2793 4.15817C10.3278 4.18005 10.3711 4.21201 10.4063 4.25191C10.4415 4.29182 10.4678 4.33876 10.4835 4.38961C10.4992 4.44047 10.5038 4.49408 10.4972 4.54688Z' fill='%23795F46' /%3E%3C/svg%3E") 50% no-repeat;
        }
    }

    .popular {
        border-color: var(--halftones-sky-1);
        color: var(--halftones-sky-1);
    }

    .sale {
        border-color: var(--halftones-rose-1);
        color: var(--halftones-rose-1);
    }
}

.product_item {
    border-radius: 32px 32px 32px 0;
    background: var(--brand-white);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .3s;

    &:hover {
        box-shadow: 0 0 32px 0 rgba(76, 76, 71, 0.08), 0 4px 8px 0 rgba(45, 45, 42, 0.08);
    }

    .link_product {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-decoration: none;
    }

    .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 286px;
        width: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }

    .card-body {
        padding: 16px 0 0;
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .name {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--t-black-80);
        margin-bottom: 24px;
        width: 100%;
    }

    .anons {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--t-black-60);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 16px;
    }

    .price {
        margin-bottom: 24px;
        width: 100%;

        .current {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 28px;
            line-height: 129%;
            color: var(--brand-black);
        }

        .old {
            font-family: var(--font4);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            margin-bottom: 4px;
            color: var(--t-black-60) !important;
        }
    }

    .buy_btn {
        position: relative;
        z-index: 2;
    }

    @media all and (max-width: 991px) {

        .name { font-size: 24px; }

        .price {
            margin-bottom: 16px;
            .current { font-size: 20px; }
            .old { font-size: 16px; }
        }
    }

    @media all and (max-width: 576px) {
        border-radius: 20px 20px 20px 0;

        .image { height: 200px; }

        .name {
            font-size: 16px;
            margin-bottom: 12px;
        }

        .anons { display: none; }

        .price {
            margin-bottom: 12px;
            .current { font-size: 18px; }
            .old { font-size: 13px; }
        }
    }

    .btn_button {
        width: 100%;
        margin-top: auto;
    }
}